:root {
	--edit-mode-button-border-style: solid;
}

.notice:has(.error) {
	background-color: rgba(var(--color-red-rgb), 0.9);
}

.edit-mode-hide {
	display: none;
}

.edit-mode-default-button[active="true"],
.edit-mode-button[enabled="true"] {
	border: var(--border-width) var(--edit-mode-button-border-style) var(--interactive-accent);
}

.edit-mode-default-button[active="false"] {
	opacity: 0.4;
}